*{
  margin: 0;
  padding: 0;

}

 main{
  height: 75vh;
}

header {
  background-image: url(./assets/images/kisspng-philadelphia-skyline-silhouette-skyline-silhouette-illustration-5b52d115d632f7.8651138115321541338774.png);
}

.content{
 display: flex;
}

.single{
  min-width: 100%;

}

.addIForm{
 
  padding: 10px;
  border-radius: 10px;
  background-color: #033f63;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 8px;
}
.addIlabel{
  font-size: 50px;
  margin-right: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-decoration: underline;
  text-shadow: #033f63 5px 5px 2px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: right;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.mainback {
  background: linear-gradient(to bottom, #033f63, #033f63 25%, #b5b682);
}

.bg-rviolet{
  background-color: #0b0033;
}

.bg-dpurple{
  background-color: #370031;
}

.bg-claret{
  background-color: #832232;
}

.bg-porange{
  background-color: #ce8964;
}

.bg-mindaro{
  background-color: #eaf27c;
}

.text-rviolet{
  color: #0b0033;
}

.text-dpurple{
  color: #370031;
}

.text-claret{
  color: #832232;
}

.text-porange{
  color: #ce8964;
}

.text-mindaro{
  color: #eaf27c;
}
/* --------------------------- */
.bg-idie{
  background-color: #033f63;
}

.bg-carb{
  background-color: #28666e;
}

.bg-camb{
  background-color: #7c9885;
}

.bg-sage{
  background-color: #b5b682;
}

.bg-peach{
  background-color: #fedc97;
}

.text-idie{
  color: #033f63;
}

.text-carb{
  color: #28666e;
}

.text-camb{
  color: #7c9885;
}

.text-sage{
  color: #b5b682;
}

.text-peach{
  color: #fedc97;
}

.my-3{
  padding: 50px;
}